* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


:root {
    --primary-color: #fc7100;
    --secondary-color: #dc0e0e;
    --black-color: #000000;
    --dark-color: #323131;
    --white-color: #ffffff;
    --secondary-white-color: #bab5b5;
}

body {
    background-color: var(--dark-color);
    min-height: 100vh;
    color: var(--white-color);
}

.container {
    padding: 1em 2em 4em 2em;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    position: relative;
}

aside .profile-info {
    width: 26%;
    border: 3px solid var(--primary-color);
    padding: 1em;
    border-radius: 10px;
    position: fixed;
    height: 100%;
    overflow-y: scroll;
    cursor: pointer;
    scroll-behavior: smooth;
    white-space: wrap;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    background-color: var(--black-color);
}

aside .profile-image {
    width: 100%;
    text-align: center;
    border-radius: 20%;
    border-bottom: 1px solid var(--white-color);
   
}

aside .profile-image img {
    width: 100%;
    border-radius: 20%;
    padding: .3em;
}

aside .profile-title {
    padding: 1em;
    text-align: center;
}

aside .contact-information {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

aside .contact-information .contact-info {
    display: flex;
    align-items: center;
    gap: 1em;
}

aside .contact-information .contact-info .icon {
    color: var(--primary-color);
}



aside .contact-information .contact-info .info .info-title {
    color: var(--secondary-white-color);
    padding: .5em 0;
}

main .home-section {
    width: 70%;
    margin-left: 29%;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--black-color);
}

main .home-section nav ul {
    display: flex;
    list-style: none;
    float: right;
    background-color: var(--primary-color);
    border-bottom-left-radius: 10px;
    /* border-bottom: 3px solid var(--white-color);
    border-left: 3px solid var(--white-color); */
}

main .home-section nav ul li {
    padding: 1em 2em;
}

main .home-page {
    width: 100%;
    min-height: 100vh;
}

main .home-page .about-title {
    font-size: 4rem;
    font-weight: 500;
    float: left;
}

