* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


:root {
    --primary-color: #fc7100;
    --secondary-color: #e69650;
    --black-color: #000000;
    --dark-color: #323131;
    --white-color: #ffffff;
    --secondary-white-color: #bab5b5;
}

body {
    background-color: var(--dark-color);
    min-height: 100vh;
    color: var(--white-color);
    position: relative;
}

.container {
    padding: 1em 2em 4em 2em;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    position: relative;
}

aside .profile-info {
    width: 26%;
    border: 3px solid var(--primary-color);
    padding: 1em;
    border-radius: 10px;
    position: fixed;
    height: 100%;
    overflow-y: scroll;
    cursor: pointer;
    scroll-behavior: smooth;
    white-space: wrap;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    background-color: var(--black-color);
}

aside .profile-image {
    width: 100%;
    text-align: center;
    border-radius: 20%;
    border-bottom: 1px solid var(--white-color);
    padding: 1em;
   
}

aside .profile-image img {
    width: 100%;
    border-radius: 20%;
    padding: .3em;
}

aside .profile-title {
    padding: 1em;
    text-align: center;
}

aside .contact-information {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

aside .contact-information .contact-info {
    display: flex;
    align-items: center;
    gap: 1em;
}

aside .contact-information .contact-info .icon {
    color: var(--primary-color);
    font-size: 1.5rem;
}

aside .contact-information .contact-info .info .info-title {
    color: var(--secondary-white-color);
    padding: .5em 0;
}


aside .socials {
    text-align: center;
    padding-top: 2em;
}

aside .socials a {
    padding: .5em;
    color: var(--white-color);
    font-size: 1.3rem;
}

main .home-section {
    width: 70%;
    margin-left: 29%;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--black-color);
}

main .home-section nav {
    position: sticky;
    top: 0;
}

main .home-section nav ul {
    display: flex;
    list-style: none;
    float: right;
    background-color: var(--primary-color);
    border-bottom-left-radius: 10px;
    padding: 0 !important;
}



main .home-section nav ul li {
    padding: 1em 2em;
    font-weight: 800;
    cursor: pointer;
}

main .home-section nav ul li:hover {
    background-color: var(--white-color);
    color: var(--black-color);
}

main .home-page {
    width: 100%;
    min-height: 100vh;
    padding: 2em;
    padding-top: .5em;
}

main .home-page .about-title {
    font-size: 3rem;
    font-weight: 500;
    border-bottom: 3px solid var(--primary-color);
    float: left;
    overflow: auto;
}

main .about-text {
    clear: left;
    padding-top: 1.5em;
    color: var(--secondary-white-color);
    font-size: 1.2rem;
}

.services {
    padding-top: 4em;
}

.services .services-title {
    font-size: 2em;
    font-weight: 500;
    border-bottom: 3px solid var(--primary-color);
    float: left;
    
}

.services-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
    padding-top: 2em;
}

.services-container .service {
    width: 48%;
    padding: 1em;
    border-radius: 10px;
    background-color: var(--dark-color);
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    align-items: center;
    box-shadow: 4px 4px 4px #fc7100;
}

.services-container .service .service-about {
    color: var(--secondary-white-color);
    font-size: 1.2rem;
}

.services-container .service .icon {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.looking-for-section {
    padding-top: 4em;
    display: flex;
    flex-direction: column;
}

.looking-for-section .looking-for-title h1 {
    border-bottom: 3px solid var(--primary-color);
    float: left;
    font-size: 2rem;
}

.looking-for-items-container {
    padding-top: 2em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.looking-for-items-container .looking-for-item {
    width: 31%;
    border: 1.5px solid var(--dark-color);
    padding: 1em;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--black-color);
    text-align: center;
    color: var(--secondary-white-color);
    box-shadow: -4px 8px 24px  var(--dark-color);
}

.looking-for-item:hover {
    border: 1.5px solid var(--white-color);
    background-color: var(--black-color);
    color: var(--white-color);
}

.skills-section {
    padding-top: 4em;
}

.skills-section-title {
    font-size: 2rem;
    font-weight: 500;
    float: left;
    border-bottom: 3px solid var(--primary-color);
}

.skills-container {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 2em;
}

.skill {
    width: 30%;
    padding: .5em;
    border: 1.5px solid var(--dark-color);
    border-radius: 10px;
    text-align: center;
    /* color: var(--secondary-white-color); */
    cursor: pointer;
    box-shadow: -4px 8px 24px  var(--dark-color);
}
