* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


:root {
    --primary-color: #fc7100;
    --secondary-color: #fa5757;
    --black-color: #000000;
    --dark-color: #000000d3;
    --white-color: #ffffff;
}

body {
    background-color: var(--black-color);
    min-height: 100vh;
    color: var(--white-color);
}

.container {
    padding: 1em 2em 4em 2em;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    position: relative;
}

aside .profile-info {
    width: 26%;
    border: 3px solid var(--primary-color);
    padding: 1em;
    border-radius: 10px;
    position: fixed;
    height: 100%;
    overflow-y: scroll;
    cursor: pointer;
    scroll-behavior: smooth;
    white-space: wrap;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

aside .profile-image {
    width: 100%;
    
}

aside .profile-image img {
    width: 100%;
    border-radius: 20%;
}

main .home-section {
    width: 70%;
    margin-left: 29%;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}