@media (max-width:1000px) {
    .container {
        flex-direction: column;
        padding: 1em 1em 0 1em;

    }

    aside .profile-info {
        width: 100%;
        padding : .5em;

        padding-bottom: 2em;
        height: auto;
        position: static;
        display: flex;
        gap: 1em;
    }

    .profile-image-segment {
        width: 48%;
    }

    aside .profile-image {
        width: 65%;
    }

    .profile-information-segment {
        width: 48%;
    }

    .contact-information {
        display: flex;
        justify-content: center;

    }

    main .home-section {
        width: 100%;
        margin-left: 0;
    }

    main .home-page {
        padding: 1em;
    }

    .resume-container {
        padding: 1em;
    }

    footer {
        width: 100%;
        margin-left: 0;
        padding: 4em 1em; 
    }
}

@media (max-width:800px) {
    .portfolio-container {
        flex-direction: column;
    }
    
    .portfolio {
        width: 100%;
    }

    .portfolio .portfolio-image img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 700px) {
    aside .profile-info {
        flex-direction: column;
    }

    .profile-image-segment {
        width: 100%;
    }

    aside .profile-image {
        width: 30%;
    }

    .profile-information-segment {
        display: none;
    }


    .profile-information-segment.active {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .services-container {
        flex-direction: column;
    }
    
    .services-container .service {
        width: 100%;
    }
    
    .looking-for-items-container .looking-for-item {
        width: 46%;
        font-size: .9rem;
        padding: .5em;
    }

    .skill {
        width: 46%;
        font-size: .9rem;
    }

    .contact-form form {
        padding: 1em;
    }

    footer {
        flex-direction: column;
    }
}