@media (max-width:1000px) {
    .container {
        flex-direction: column;
    }

    aside .profile-info {
        width: 100%;
        padding-bottom: 2em;
        height: auto;
        position: static;
        display: flex;
        gap: 1em;
    }

    .profile-image-segment {
        width: 48%;
    }

    aside .profile-image {
        width: 65%;
    }

    .profile-information-segment {
        width: 48%;
    }

    .contact-information {
        display: flex;
        justify-content: center;

    }
}