@media (max-width:1000px) {
    .container {
        flex-direction: column;
    }

    aside .profile-info {
        width: 100%;
        padding-bottom: 2em;
        height: auto;
        position: static;
        display: flex;
    }

    .profile-image-segment {
        width: 50%;
    }

    .profile-information-segment {
        width: 50%;
    }
}