:root {
    --primary-color: #fc7100;
    --secondary-color: #e69650;
    --black-color: #000000;
    --dark-color: #323131;
    --white-color: #ffffff;
    --secondary-white-color: #bab5b5;
}

.resume-page {
    width: 70%;
    margin-left: 29%;
    box-shadow: -0.5px 0.5px 0.5px var(--secondary-white-color), 0.5px -0.5px 0.5px var(--secondary-white-color);
    border-radius: 10px;
    background-color: var(--black-color);
}

.resume-container {
    width: 100%;
    min-height: 100vh;
    padding: 2em;
    padding-top: .5em;
}

.page-title {
    font-size: 2rem;
    font-weight: 500;
    float: left;
    border-bottom: 3px solid var(--primary-color);
    border-radius: 5%;
}

.personal-statement {
    clear: both;
}

.heading {
    padding-top: 2em;
    font-size: 1.5rem;
    font-weight: 500;
}

.personal-statement .statements{
    clear: left;
    padding-top: 2em;
    color: var(--secondary-white-color);
    line-height: 1.5;
}

.education-container {
    padding-top: 2em;
}

.education-item {
    padding-top: 2em;
}

.school {

}

.timeline {
    color: var(--primary-color);
    padding: 1em 0 .5em 0;
}

.course {
    color: var(--secondary-white-color);
}